{% extends "base.html" %}
{% load static %}
{% block sub_title %}About Us{% endblock %}
{% block content %}

<div class="row  ">
    <div class="col-12 col-lg-6 offset-lg-3 card product-card container mt-5 ">
        <div>
            <h1 class="text-center">About Us</h1>
            <p>Spice shop was established in 1990 with the passion to sell pure and high-quality spices and herbs. 
                Our prime preference is to source the spices and herbs directly from the producers. Different spices
                are grown in all parts of the world. We work hard to search and locate the best quality spice/herbs
                producers and suppliers. We established a supply chain to ensure that every s spice on our shelf is 
                directly imported from original brand manufacturers. Our dedicated quality control team work hard to 
                make sure every single item, we import is pure and high quality.
            </p>
            <h5 class="text-center"><em> Buy spices from Z Spices for your kitchen and bring a spice in your life.</em> </h5>
        </div>
    </div>
</div>
{% endblock %}