{% extends "base.html" %}
{% load static %}
{% block sub_title %}Contact{% endblock %}
{% block content %}

<div class="row  ">
    <div class="col-12 col-lg-6 offset-lg-3  container mt-5 ">
        <div class="">
            <h1 class="text-center">Contact</h1>
            <h5 class="text-center text-info"><em>You can contact us using following ways!</em> </h5>
        </div>
        <hr>
        <div class="text-center">
            <h3>Email us: </h3>
            <p>zedspices@spices.com</p>
        </div>
        <div class="text-center">
            <h4>Call us at:</h4>
            <p>55 55 7654321</p>
        </div>
        <div class="text-center">
            <h4>Write to us:</h4>
            <p>55 Business Center, Capital Avenue, The Capital City.</p>
        </div>

    </div>
</div>
{% endblock %}