{% extends "base.html" %}
{% load static %}
{% block sub_title %}Home{% endblock %}
{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section >
        <div class="row text-center ">
            <div class="col-12 ">
                <img src="{% static 'images/hero.jpg' %}" alt="Spice for Life logo" class="hero-image">
                <!--Image Credit = https://dualsnatural.com/collections/spices?page=2 -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center ">
                <div class="  m-3 cate-display ">
                    <a href="{% url 'products' %}?category=deals" class="category-display"><h2>Deals</h2></a> 
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center cate-display ">
                <div class=" m-3 category-display">
                    <a href="{% url 'products' %}?category=clearance"><h2>Clearance</h2></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center cate-display ">
                <div class="  m-3 category-display">
                    <a href="{% url 'products' %}?category=fresh_herbs"><h2>Fresh Herbs</h2></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center cate-display ">
                <div class=" m-3 category-display">
                    <a href="{% url 'products' %}?category=mix_spices"><h2>Mix Spices</h2></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center  cate-display">
                <div class=" m-3 category-display">
                    <a href="{% url 'products' %}?category=pickles"><h2>Pickle</h2></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center cate-display">
                <div class="  m-3 category-display">
                    <a href="{% url 'products' %}?category=powdered_spice"><h2>Powdered Spice</h2></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center cate-display">
                <div class="  m-3 category-display">
                    <a href="{% url 'products' %}?category=recipes"><h2>Recipes</h2></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center cate-display">
                <div class=" m-3 category-display">
                    <a href="{% url 'products' %}?category=sauce"><h2>Sauces</h2></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center cate-display">
                <div class="  m-3 category-display">
                    <a href="{% url 'products' %}?category=seasoning"><h2>Seasonings </h2></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center cate-display ">
                <div class="  m-3 category-display">
                    <a href="{% url 'products' %}?category=whole-spices" ><h2>Whole Spices</h2></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center  cate-display">
                <div class="  m-3 category-display">
                    <a href="{% url 'products' %}?category=oils" ><h2>Oils</h2></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center cate-display ">
                <div class="  m-3 category-display">
                    <a href="{% url 'products' %}?category=assorted_items" ><h2>Assorted Items</h2></a>
                </div>
            </div>
        </div>
        <div class="row">
            
        </div>
    </section>
    
{% endblock %}