{% extends "base.html" %}
{% load static %}
{% block sub_title %}Wishlist{% endblock %}

{% block content %}
<div class="container-fluid large-container">
    <div class="row">
        <div class="col text-center mt-3">
            <h1 class=" text-capitalize">{{ user }}'s Wish List</h1>
            <hr class="w-50 mb-3">
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="capital">Keep Shopping</span>
            </a>
        </div>
    </div>
</div>
<div class="row pro-item-display">
    {% for product in wishlist.products.all %}
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 justify-content-center">
        <a class="card mt-3 mb-0  rounded-0" href="{% url 'product_detail' product.id %}">
            <div class="product-title">
                <h6 class="display-name text-black"><Strong>{{ product.name }}</Strong></h6>
            </div>
            <div class="product-image-container mx-auto pb-3">
                {% if product.image %}
                <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                {% endif %}
            </div>
            <p class="text-black text-center my-2"><strong>Size: {{ product.size }}</strong></p>
        </a>
        {% if request.user.is_authenticated %}
        <p class="border d-flex justify-content-between px-5 m-0">
            <a href="{% url 'remove_from_wishlist' product.id %}" class="text-danger font-weight-bolder small">Remove
                &nbsp;&nbsp;</a>
            <a href="{% url 'product_detail' product.id %}" class="text-info font-weight-bolder small">&nbsp;Product
                Detail</a>
        </p>
        {% endif %}
        <div class="product-info pt-3 mb-4">
            {% if product.category %}
            <p class=" d-flex justify-content-between ">
                <a href="{% url 'products' %}?category={{ product.category.name }}" class=" small text-muted">
                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                </a>
                {% endif%}
                <span class="small text-muted"> €{{ product.price }}</span>
            </p>
        </div>
    </div>
    {% empty %}
    <div class=" product-card container">
        <div class=" col-12 text-center my-5">
            <h3 class=" capital"> Wishlist is Empty</h3>
           
        </div>
    </div>
    {% endfor %}
    <div class="btt-button shadow-sm ">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-alt-circle-up  text-black mx-auto my-auto"></i>
        </a>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}