@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: cairo, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Push the contents of the webpage blew the Navbar */

main{
    padding: 10px;
    flex-grow: 1;
}

.capital{
    text-transform: uppercase;
}

.bg-black{
    background: #000;
}



/* navbar ----------------------------- Start */
#logo-no-line, #no-deco{
    text-decoration: none;
}

.navbar-collapse{
    text-align: center;
}

.navbar h1{
    color: red;
}

.delivery-offer h4{
    font-size: 1.1rem;
    background-color: #555555;
    color: white;
    border: 1px solid whitesmoke;
    letter-spacing: 2px;
}
.delivery-offer{
    background-color: #9f9f9f;
    padding: 5px;
}
.delivery-offer:hover{
    box-shadow: inset 0 1px 1px #72ac72, 0 0 8px #72ac72;
    transition: .25s ease-in-out;
    color: #000;
}

.input-outline{
    border-color: #72ac72;
}
/* navbar ------------------------------ End */

/* ++ FOOTER+-----------------------+START++ */
footer{
    margin: 0;
    font-family:cairo , sans-serif ;
    width: 100vw;
}
.foot-wrapper{
    padding: 8px;
    background-color: #9f9f9f;
}
.ft-color{
    background-color: #555555;
    color: whitesmoke;
    padding-top:10px;
    border: 1px solid whitesmoke;
    letter-spacing: 2px;
}
 .fab{
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: whitesmoke;
}
li a .fab{
    letter-spacing: 20px;
}

.fab:hover{
    color:tomato;
    font-size: 26px;
}
.foot-wrapper h5{
      color: whitesmoke;
}
.foot-wrapper h5:hover,
.foot-wrapper a{
    color:tomato;
}
footer:hover{
    box-shadow: inset 0 2px 2px #72ac72, 0 0 8px #72ac72;
    transition: .25s ease-in-out;
    color: #000;
}
/* Footer ----------------------------- End */

.hero-image{
    width: 100%;
}

.deals{
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.deals h1{
    color: red;
}

/*  Account, Login ------------------------------- Start */

.account-card:hover {
    text-decoration: none;
    box-shadow: inset 0 1px 1px #72ac72, 0 0 8px #72ac72;
    transition: .25s ease-in-out;
    color: #000;
    border: 4px solid aqua;
}

/*  Account, Login  -------------------------------  End */

/* bag-------------------- start */

#bag-table-pad{
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.empty-bag{
    background-color: rgb(8, 0, 0) !important;
    color: white;
    border: 1px solid red;
    font-weight: bold;
}

/* bag --------------------  end */


/* products ------------- start */
overlay{
    height: 100%;
    width: 100%;
    top: 72px;
    left: 0;
    position: fixed;
    z-index: -1;
}

.product-card{
    padding: 10px 50px;
    margin-top: 2px ;
    color: black;
}

.product-card:hover {
    text-decoration: none;
    box-shadow: inset 0 1px 1px #72ac72, 0 0 8px #72ac72;
    transition: .25s ease-in-out;
    color: #000;
}

#no-border{
    border: none;
}
.border-none{
    border: none;
}


.product-image-container{
    height: 250px;
    max-width: 250px;
    display: flex;
    align-items: center;
    
}

img:hover{
    box-shadow: inset 0 1px 1px #72ac72, 0 0 8px #72ac72;
    transition: .25s ease-in-out;
}

.image-size{
    height: 250px;
    width: 100%;
}

.product-image{
    padding-top: 10px;
    height: 100%;
    max-width: 100%;
    object-fit: scale-down;
}

.product-title{
    height: 4rem;
    padding: 5px;
    text-align: center;
}

.product-info{

    background-color: aqua;
    color: black;
    padding: 5px;
}

.cate-info{
    background-color: aqua;
    color: black;
}

.display-name{
    padding-top: 15px;
}

a.category-badge > span.badge:hover{
    background: #212529;
    color: #fff !important;
}
.text-black{
    color:black;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;

}

.btt-link,
.remove-item,
.update-link {
    cursor: pointer;
}
.btt-link i{
    font-size: 2rem;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-black {
    background: black;
    color: white;
}
.btn-black:hover{
    background: white;
    color: black;
    box-shadow: inset 0 1px 1px #72ac72, 0 0 8px #72ac72;
    transition: .25s ease-in-out;
}

.btn-outline-black{
    background: white;
    color: black !important;  
    border: 1px solid black;
}


/* products ---------------------------------- end */

/* Toast -------------------------------------- Start */
.message-container{
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
    box-shadow: inset 0 1px 1px #72ac72, 0 0 8px #72ac72;
    transition: .25s ease-in-out;
}
.custom-toast{
    overflow: visible;
}

.toast-capper{
    height: 2px;

}

/* From https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
  }

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #1fc7e0 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.text-yellow{
    color: rgb(241, 226, 10);
}

.bag-note-wrapper{
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Toast ------------------------------ End */

/* Product ---------------------------- Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}
/*  Product Form -------------------------------- End */

@media screen and (max-width: 768px){
    #bag-table-pad{
        padding-top: 10px;
        padding-bottom: 10px;
    }

}