@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: cairo, sans-serif;
}
/* Push the contents of the webpage blew the Navbar */

main{
    padding: 10px;
    flex: 1 0 auto;
}

.capital{
    text-transform: uppercase;
}

.bg-black{
    background: #000;
}



/* navbar Start */
#logo-no-line, #no-deco{
    text-decoration: none;
}

.navbar-collapse{
    text-align: center;
}

.navbar h1{
    color: red;
}

.delivery-offer h4{
    font-size: .9rem;
}

.input-outline{
    border-color: #72ac72;
}
/* navbar End */

.hero-image{
    width: 100%;
}

.deals{
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.deals h1{
    color: red;
}

/* bag  start */

#bag-table-pad{
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 25px;
}

/* bag   end */


/* products start */
overlay{
    height: 100%;
    width: 100%;
    top: 72px;
    left: 0;
    position: fixed;
    z-index: -1;
}

.product-card{
    padding: 10px 50px;
    margin-top: 2px ;
    color: black;
}

.product-card:hover {
    text-decoration: none;
    box-shadow: inset 0 1px 1px #72ac72, 0 0 8px #72ac72;
    transition: .25s ease-in-out;
    color: #000;
}

#no-border{
    border: none;
}

.product-image-container{
    height: 250px;
    max-width: 250px;
    display: flex;
    align-items: center;
}

.image-size{
    height: 250px;
    width: 100%;
}

.product-image{
    padding-top: 10px;
    height: 100%;
    max-width: 100%;
    object-fit: scale-down;
}

.product-title{
    height: 4rem;
    padding: 5px;
    text-align: center;
}

.product-info{

    background-color: aqua;
    color: black;
    padding: 5px;
}

.cate-info{
    background-color: aqua;
    color: black;
}

.display-name{
    padding-top: 15px;
}

a.category-badge > span.badge:hover{
    background: #212529;
    color: #fff !important;
}
.text-black{
    color:black;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;

}

.btt-link,
.remove-item,
.update-link {
    cursor: pointer;
}
.btt-link i{
    font-size: 2rem;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black{
    background: white;
    color: black !important;  
    border: 1px solid black;
}

/* products end */

@media screen and (max-width: 768px){
    #bag-table-pad{
        padding-top: 10px;
        padding-bottom: 10px;
    }

}