<footer class="container-fluid">
    <div class=" row  foot-wrapper ">
        <div class="col-12 col-lg-3 col-md-6 ft-color ">
            <a href="{% url 'about' %}">
                <h5 class="capital ft-space ">about:</h5>
            </a>
            <p> One of the best Spices and Grocery shop in twon. </p>
        </div>
        <div class="col-12 col-lg-3 col-md-6 contactme ft-color">
            <a href="contact.html">
                <h5 class="ft-space capital">Contact:</h5>
            </a>
            <p>Email- info@spice.com</p>
        </div>
        <div class=" col-12 col-lg-3 col-md-6  capital ft-color">
            <h5 class="ft-space">Social:</h5>
            <ul class="list-inline ">
                <li class="list-inline-item ">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener">
                        <i class="fab fa-facebook-square socialme" aria-hidden="true"></i>
                        <span class="sr-only">facebkook</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/" target="_blank" rel="noopener"><i class="fab     
                    fa-twitter-square" aria-hidden="true"></i>
                        <span class="sr-only">twitter</span></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"><i class="fab     
                    fa-instagram-square" aria-hidden="true"></i>
                        <span class="sr-only">instagram</span></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener"><i class="fab     
                     fa-youtube-square" aria-hidden="true"></i>
                        <span class="sr-only">youtube</span></a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 col-md-6 copyright capital ft-color">
            <br>
            <p class="ft-space">Copyright &copy; 2021 ZSpices </p>
        </div>
    </div>
</footer>