{% load static %}

<nav class="navbar navbar-expand-lg navbar-light">
    <a href="{% url 'home' %}" id="logo-no-line">
        <h1><img id="z-logo" src="{% static 'images/z-logo-small.png' %}" alt="Z Spices Logo">&nbsp;Spices</h1>
    </a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#spicenavbar" aria-controls="spicenavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="spicenavbar">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item d-lg-none">
                <a href="{% url 'home' %}" class="nav-link">
                    <i class="nav-icon fas fa-home"></i>Home
                </a>
            </li>
            <li class="nav-item d-block d-lg-none">
                <a href="{% url 'view_bag' %}" class="nav-link {% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} ">
                    <p class="m-0" id="basket-total-mobile">
                            {% if grand_total %}
                            <i class="nav-icon  fas fa-cart-plus"></i>
                                €{{ grand_total|floatformat:2 }}
                            {% else %}
                            <i class="nav-icon text-muted fas fa-shopping-cart"></i>
                                €0.00
                            {% endif %}
                        </i>
                    </p>
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown d-lg-none">
                <a href="#" id="navbarMobileDropdownProfile" class="nav-link dropdown-toggle text-black" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="nav-icon fas fa-user-circle"></i>Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarMobileDropdownProfile">
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Details</a>
                    <a href=" url 'delivery' " class="dropdown-item">Delivery Details</a>
                    <a href=" url 'order_history' " class="dropdown-item">Order History</a>
                    
                    <div class="dropdown-divider hr-green"></div> 
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Log out</a>
                </div>
            </li>
            {% else %} 
            <li class="nav-item dropdown d-lg-none">
                <a href="{% url 'account_login' %}" id="navbarMobileDropdownProfile" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="nav-icon fas fa-sign-in-alt"></i>Login
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarMobileDropdownProfile" >
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                </div>
            </li>
            {% endif %}
            <li class="dropdown-divider hr-green"></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarCateDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarCateDropdown">
                    <a href="{% url 'products'  %}" class="dropdown-item">View All Products</a>
                    <div class="dropdown-divider hr-green"></div>
                    <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                    <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                    <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                </div>
            </li>
            <li class="nav-item dropdown d-none d-lg-block">
                <a href="#" id="navbarDesktopDropdownContact" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contact
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDesktopDropdownContact">
                    <a href="#" class="dropdown-item">About</a>
                    <a href="#" class="dropdown-item">FAQs</a>
                    <a href="#" class="dropdown-item">Contact Us</a>
                </div>
            </li>
        </ul>
        <form class="form-inline justify-content-center " method="GET" action="{% url 'products' %}">
            <input class="form-control rounded-0 border-black" name="q" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info rounded-0 my-2 my-sm-0" type="submit">
                <i class="fas fa-search"></i>
            </button>
          </form>
          <ul class="navbar-nav mx-auto">
            <li class="nav-item d-none d-lg-block">
                <a href="{% url 'home' %}" class="nav-link">
                    <i class="nav-icon fas fa-home"></i>
                </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown d-none d-lg-block">
                <a href="#" id="navbarDesktopDropdownProfile" class="nav-link dropdown-toggle text-black" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="nav-icon fas fa-user-circle"></i>Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDesktopDropdownProfile">
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_product'  %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href=" {% url 'profile' %}" class="dropdown-item">My Details</a>
                    <a href=" url 'delivery' " class="dropdown-item">Delivery Details</a>
                    <a href=" url 'order_history' " class="dropdown-item">Order History</a>
                    
                    <div class="dropdown-divider hr-green"></div> 
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Log out</a>
                </div>
            </li>
            {% else %} 
            <li class="nav-item dropdown d-none d-lg-block">
                <a href="#" id="navbarDesktopDropdownProfile" class="nav-link dropdown-toggle text-dark" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="nav-icon fas fa-sign-in-alt"></i> Login
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDesktopDropdownProfile" >
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item text-dark">Login</a>
                </div>
            </li>
            {% endif %}
            <li class="nav-item d-none d-lg-block">
                <a href="{% url 'view_bag' %}" class="nav-link {% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %}">
                    <p class="m-0" id="basket-total">
                            {% if grand_total %}
                            <i class="nav-icon  fas fa-cart-plus" style="color: black;" ></i>
                                €{{ grand_total|floatformat:2 }}
                            {% else %}
                            <i class="nav-icon text-muted fas fa-shopping-cart"></i>
                                €0.00
                            {% endif %}
                        </i>
                    </p>
                </a>
            </li>
          </ul>
    </div>
</nav>