{% extends "base.html" %}
{% load static %}
{% block sub_title %}Product Details{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h1 class=" capital">Product Details</h1>
            <hr class="w-50 mb-5">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="product-image-container">
                {% if product.image %}
                <a href="{{ product.image_url }}" target="_blank">
                    <img class="product-image" src="{{ product.image.url }}" alt="{{ prodduct.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-5">
            <h5 class="mb-0 font-weight-bold">{{ product.name }}</h5>
            <p class="text-black my-0"><strong>{{ product.size }}</strong></p>
            <p class="lead mb-0 text-left "><strong>€{{ product.price }}</strong></p>
            {% if product.category %}
            <p class="small mt-1 mb-0">
                <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">
                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                </a>
            </p>
            {% endif%}
           
            {% if request.user.is_superuser %}
            <p class="m-0">
                <a href="{% url 'edit_product' product.id %}" class="text-info">Edit</a>
                <a href="{% url 'confirm_delete' product.id %}" class="text-danger pl-2">Delete</a>
            </p>
            {% endif %}
            <p class="mt-3">{{ product_id }}</p>
            <p class="mt-3">{{ product.description }}</p>
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-black rounded-0"
                                        data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input type="number" class="form-control qty_input" name="quantity" value="1" min="1"
                                    max="99" required data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-black rounded-0"
                                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 pro-detail-btn">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <input type="submit" class="btn btn-black rounded-0 capital pro-detail-btn" value="Add to Bag">
                        {% if request.user.is_authenticated %}
                                    <a class="btn btn-outline-black rounded-0 pro-detail-btn" href="{% url 'add_product_to_wishlist' product.id %}">
                                        <span class="capital">Add to wishlist</span>
                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span> 
                                    </a>
                        {% endif %}
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="reviews" class="row ">
    <div class="col-12 col-md-10 col-lg-4 offset-lg-4 mt-5">
        <h2 class="text-black font-weight-bold mt-5">Reviews</h2>
        {% if request.user.is_authenticated %}
            {% if edit %}
                <!-- Edit Review Form -->
                <form method="POST" action="{% url 'edit_review' review.id %}#reviews">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-right">
                        <button class="btn btn-black rounded-0 font-weight-bold" type="submit">Update Review</button>
                    </div>
                </form>
            {% else %}
                <!--Review Form -->
                <form method="POST" action="{% url 'submit_review' product.id %}#reviews" ">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-right">
                        <button class="btn btn-black rounded-0 font-weight-bold" type="submit">Submit Review</button>
                    </div>
                </form>
            {% endif %}
        {% else %}
            <p class="small font-weight-bold"> Please login to post a review.</p>
        {% endif %}
    </div>
</div>
<div class="row mb-5">
    <div class="col-12 col-md-10 col-lg-4 offset-lg-4 mt-5">  
        <!-- Showing all product reviews-->
        {% for review in product.reviews.all %}
            <div class="card rounded-0 mt-5">
                <div class="card-body">
                    <p class="small text-muted card-header"> by {{ review.user }} on {{ review.created_on_date|date:"d-m-Y"}}</p>
                    <p class=" border-none my-2 "><i class=" fas fa-star"> {{ review.rating }}/5</i> </p>    
                    <p class=" card-header">{{ review.title }}:</p>
                    <p class="card border-none py-3">{{ review.user_review }}</p>
                </div>
            </div>
             <!-- Edit Review Button-->
             {% if review.user == request.user or request.user.is_superuser %}
             <div class="card-head text-right">
                 <a class="btn btn-black rounded-0 my-3" href="{% url 'edit_review' review.id %}#reviews">
                     Edit Review
                 </a>
             </div>
         {% endif %}
        {% empty %}
            <div class="text-center mt-3">
                <p>{{product.name}}{% if product.has_sizes %}{{product.size}}{% endif %}, has no reviews yet. You can be the first...</p>
            </div>
        {% endfor%}
    </div>
</div> 
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-alt-circle-up  text-black mx-auto my-auto"></i>
    </a>
</div>



{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}